body {
  width: 100vw;
  height: 100vh;
  background: blueviolet;
  font: normal 15pt Arial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px black;
  text-align: center;
}

input[type=number] {
  width: 100%;
}

input[type=button] {
  width: 100%;
  padding: 7px;
  text-transform: uppercase;
  font-weight: 600;
}

img {
  width:100%;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
